nodeRED/tcc_nodeRED.json
[
    {
        "id": "01b0505a415fb65e",
        "type": "tab",
        "label": "storageInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4987f4769ea6c02b",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "b4e35bb57c5bce7a",
        "type": "mqtt in",
        "z": "01b0505a415fb65e",
        "name": "",
        "topic": "storageInfo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "843e0cdfbb148b49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "8da7c4d2e65c2bf1",
                "34b53b18a472f777",
                "0dd90168ee181f47",
                "8511f453c309e7f6"
            ]
        ]
    },
    {
        "id": "8da7c4d2e65c2bf1",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformDatabase",
        "func": "var query = `INSERT INTO storagePosition (\n            pos_11, pos_12, pos_13, pos_14, pos_15,\n            pos_21, pos_22, pos_23, pos_24, pos_25,\n            pos_31, pos_32, pos_33, pos_34, pos_35,\n            pos_41, pos_42, pos_43, pos_44, pos_45,\n            pos_51, pos_52, pos_53, pos_54, pos_55) VALUES`;\nvar variables =`(`;\n\nfor (let i = 0; i < 25; i++) {\n\n    variables += msg.payload.split(',')[i];\n    if (i < 24) {\n        variables +=',';\n    }\n}\nvariables += ')';\nmsg.topic = query + variables\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 680,
        "wires": [
            [
                "4987f4769ea6c02b",
                "18e89ef7d873eb00"
            ]
        ]
    },
    {
        "id": "34b53b18a472f777",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "a0c06628f5b702e4",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "usagePercentQuery",
        "func": "var query = `SELECT\n    COUNT(*) AS total_records,\n    ROUND(SUM(pos_11) / COUNT(*) * 100, 2) AS percent_pos_11,\n    ROUND(SUM(pos_12) / COUNT(*) * 100, 2) AS percent_pos_12,\n    ROUND(SUM(pos_13) / COUNT(*) * 100, 2) AS percent_pos_13,\n    ROUND(SUM(pos_14) / COUNT(*) * 100, 2) AS percent_pos_14,\n    ROUND(SUM(pos_15) / COUNT(*) * 100, 2) AS percent_pos_15,\n    ROUND(SUM(pos_21) / COUNT(*) * 100, 2) AS percent_pos_21,\n    ROUND(SUM(pos_22) / COUNT(*) * 100, 2) AS percent_pos_22,\n    ROUND(SUM(pos_23) / COUNT(*) * 100, 2) AS percent_pos_23,\n    ROUND(SUM(pos_24) / COUNT(*) * 100, 2) AS percent_pos_24,\n    ROUND(SUM(pos_25) / COUNT(*) * 100, 2) AS percent_pos_25,\n    ROUND(SUM(pos_31) / COUNT(*) * 100, 2) AS percent_pos_31,\n    ROUND(SUM(pos_32) / COUNT(*) * 100, 2) AS percent_pos_32,\n    ROUND(SUM(pos_33) / COUNT(*) * 100, 2) AS percent_pos_33,\n    ROUND(SUM(pos_34) / COUNT(*) * 100, 2) AS percent_pos_34,\n    ROUND(SUM(pos_35) / COUNT(*) * 100, 2) AS percent_pos_35,\n    ROUND(SUM(pos_41) / COUNT(*) * 100, 2) AS percent_pos_41,\n    ROUND(SUM(pos_42) / COUNT(*) * 100, 2) AS percent_pos_42,\n    ROUND(SUM(pos_43) / COUNT(*) * 100, 2) AS percent_pos_43,\n    ROUND(SUM(pos_44) / COUNT(*) * 100, 2) AS percent_pos_44,\n    ROUND(SUM(pos_45) / COUNT(*) * 100, 2) AS percent_pos_45,\n    ROUND(SUM(pos_51) / COUNT(*) * 100, 2) AS percent_pos_51,\n    ROUND(SUM(pos_52) / COUNT(*) * 100, 2) AS percent_pos_52,\n    ROUND(SUM(pos_53) / COUNT(*) * 100, 2) AS percent_pos_53,\n    ROUND(SUM(pos_54) / COUNT(*) * 100, 2) AS percent_pos_54,\n    ROUND(SUM(pos_55) / COUNT(*) * 100, 2) AS percent_pos_55\nFROM storagePosition;`;\n\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "6566b03f4a3abac6",
                "b92b44b50958f995"
            ]
        ]
    },
    {
        "id": "4dd6496ed5631b9e",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "usagePercentTransform",
        "func": "msg.totalRecords = msg.payload.total_records;\nmsg.usagePercentage = []; \n\nfor (let i = 11; i <= 55; i++)\n {\n    let key = `percent_pos_${i}`;\n    if (msg.payload.hasOwnProperty(key)) \n    {\n        msg.usagePercentage.push({\n            position: key,\n            percentage: msg.payload[key]\n        });\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 880,
        "wires": [
            [
                "1b9d4e3d08b449aa",
                "472195df6dd275fc",
                "dcb956ce95f835b0"
            ]
        ]
    },
    {
        "id": "b92b44b50958f995",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "86667aa5c91cac88",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 840,
        "wires": []
    },
    {
        "id": "472195df6dd275fc",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 840,
        "wires": []
    },
    {
        "id": "2b07dfb54137fd72",
        "type": "inject",
        "z": "01b0505a415fb65e",
        "name": "every 5 seconds",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "a0c06628f5b702e4"
            ]
        ]
    },
    {
        "id": "0dd90168ee181f47",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "currentUsage",
        "func": "let slots = msg.payload.split(',').map(item => item.trim());\nlet color = [];\n\nfor (let i = 0; i < 25; i++) {\n    if (slots[i] == '1') {\n        color[i] = \"green\"\n    }\n    else {\n        color[i] = \"white\"\n    }\n}\nreturn { payload: color };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "36c31f216d9b9d54",
                "af50b67fbcd549d5"
            ]
        ]
    },
    {
        "id": "af50b67fbcd549d5",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "dcb956ce95f835b0",
        "type": "ui_text",
        "z": "01b0505a415fb65e",
        "group": "df4eedea9db0b94b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "totalRecords",
        "label": "Total Records:",
        "format": "{{msg.payload[0].total_records}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 920,
        "wires": []
    },
    {
        "id": "1b9d4e3d08b449aa",
        "type": "ui_template",
        "z": "01b0505a415fb65e",
        "group": "79664ad5b5643537",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Storage 5x5</title>\n  <style>\n    .warehouse {\n      display: flex;\n      height: 300px;\n      align-items: center;\n      justify-content: center;\n      position: relative;\n    }\n\n    .column {\n      grid-template-columns: repeat(5, 1fr);\n    }\n\n    .cell {\n      border: 1px solid black;\n      width: 50px;\n      height: 50px;\n      margin: 0;\n      align-items: center;\n      justify-content: center;\n      position: relative;\n    }\n\n    .usage {\n      position: absolute;\n      bottom: 5px;\n      right: 5px;\n      font-size: 0.7em;\n      margin: 4px;\n    }\n  </style>\n</head>\n\n<body>\n\n  <div class=\"warehouse\">\n    <div class=\"column\">\n      <!-- pos_11 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_11}}%</span>\n      </div>\n      <!-- pos_21 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_21}}%</span>\n      </div>\n      <!-- pos_31 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_31}}%</span>\n      </div>\n      <!-- pos_41 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_41}}%</span>\n      </div>\n      <!-- pos_51 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_51}}%</span>\n      </div>\n    </div>\n    <div class=\"column\">\n      <!-- pos_12 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_12}}%</span>\n      </div>\n      <!-- pos_22 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_22}}%</span>\n      </div>\n      <!-- pos_32 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_32}}%</span>\n      </div>\n      <!-- pos_42 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_42}}%</span>\n      </div>\n      <!-- pos_52 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_52}}%</span>\n      </div>\n    </div>\n    <div class=\"column\">\n      <!-- pos_13 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_13}}%</span>\n      </div>\n      <!-- pos_23 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_23}}%</span>\n      </div>\n      <!-- pos_33 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_33}}%</span>\n      </div>\n      <!-- pos_43 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_43}}%</span>\n      </div>\n      <!-- pos_53 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_53}}%</span>\n      </div>\n    </div>\n    <div class=\"column\">\n      <!-- pos_14 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_14}}%</span>\n      </div>\n      <!-- pos_24 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_24}}%</span>\n      </div>\n      <!-- pos_34 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_34}}%</span>\n      </div>\n      <!-- pos_44 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_44}}%</span>\n      </div>\n      <!-- pos_54 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_54}}%</span>\n      </div>\n    </div>\n    <div class=\"column\">\n      <!-- pos_15 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_15}}%</span>\n      </div>\n      <!-- pos_25 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_25}}%</span>\n      </div>\n      <!-- pos_35 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_35}}%</span>\n      </div>\n      <!-- pos_45 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_45}}%</span>\n      </div>\n      <!-- pos_55 -->\n      <div class=\"cell\">\n        <span class=\"usage\">{{msg.payload[0].percent_pos_55}}%</span>\n      </div>\n    </div>\n\n  </div>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "36c31f216d9b9d54",
        "type": "ui_template",
        "z": "01b0505a415fb65e",
        "group": "067d23398ded566a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Storage 5x5</title>\n    <style>\n        .warehouse {\n            display: flex;\n            height: 300px;\n            align-items: center;\n            justify-content: center;\n            position: relative;\n        }\n\n        .column {\n            grid-template-columns: repeat(5, 1fr);\n        }\n\n        .cell {\n            border: 1px solid black;\n            width: 50px;\n            height: 50px;\n            margin: 0;\n            align-items: center;\n            justify-content: center;\n            position: relative;\n        }\n\n        .slot {\n            width: 8px;\n            height: 8px;\n            position: absolute;\n            border: 1px solid black;\n            bottom: 5px;\n            right: 5px;\n            margin: 4px;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"warehouse\">\n        <div class=\"column\">\n            <!-- pos_11 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[0]}};\"></span>\n            </div>\n            <!-- pos_21 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[5]}};\"></span>\n            </div>\n            <!-- pos_31 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[10]}};\"></span>\n            </div>\n            <!-- pos_41 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[15]}};\"></span>\n            </div>\n            <!-- pos_51 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[20]}};\"></span>\n            </div>\n        </div>\n        <div class=\"column\">\n            <!-- pos_12 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[1]}};\"></span>\n            </div>\n            <!-- pos_22 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[6]}};\"></span>\n            </div>\n            <!-- pos_32 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[11]}};\"></span>\n            </div>\n            <!-- pos_42 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[16]}};\"></span>\n            </div>\n            <!-- pos_52 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[21]}};\"></span>\n            </div>\n        </div>\n        <div class=\"column\">\n            <!-- pos_13 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[2]}};\"></span>\n            </div>\n            <!-- pos_23 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[7]}};\"></span>\n            </div>\n            <!-- pos_33 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[12]}};\"></span>\n            </div>\n            <!-- pos_43 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[17]}};\"></span>\n            </div>\n            <!-- pos_53 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[22]}};\"></span>\n            </div>\n        </div>\n        <div class=\"column\">\n            <!-- pos_14 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[3]}};\"></span>\n            </div>\n            <!-- pos_24 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[8]}};\"></span>\n            </div>\n            <!-- pos_34 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[13]}};\"></span>\n            </div>\n            <!-- pos_44 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[18]}};\"></span>\n            </div>\n            <!-- pos_54 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[23]}};\"></span>\n            </div>\n        </div>\n        <div class=\"column\">\n            <!-- pos_15 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[4]}};\"></span>\n            </div>\n            <!-- pos_25 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[9]}};\"></span>\n            </div>\n            <!-- pos_35 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[14]}};\"></span>\n            </div>\n            <!-- pos_45 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[19]}};\"></span>\n            </div>\n            <!-- pos_55 -->\n            <div class=\"cell\">\n                <span class=\"slot\" style=\"background-color: {{msg.payload[24]}};\"></span>\n            </div>\n        </div>\n\n    </div>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "18e89ef7d873eb00",
        "type": "mysql",
        "z": "01b0505a415fb65e",
        "mydb": "1bfd1e707ae383d7",
        "name": "",
        "x": 630,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6566b03f4a3abac6",
        "type": "mysql",
        "z": "01b0505a415fb65e",
        "mydb": "1bfd1e707ae383d7",
        "name": "usagePercent",
        "x": 720,
        "y": 880,
        "wires": [
            [
                "4dd6496ed5631b9e",
                "86667aa5c91cac88"
            ]
        ]
    },
    {
        "id": "8511f453c309e7f6",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "7ddcefa9d56b4cc2",
                "f23565d43754c284",
                "aa56aaf6aba68eef",
                "b44a8ebce3a7939d",
                "acb9f4baa6a19292",
                "c96ca290cf538f29"
            ]
        ]
    },
    {
        "id": "fdbc7be51df66117",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.00",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 860,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b44a8ebce3a7939d",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos11",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[0];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "bd8a02d6013661f7",
                "fdbc7be51df66117"
            ]
        ]
    },
    {
        "id": "bd8a02d6013661f7",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ddcefa9d56b4cc2",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos12",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[1];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "aeeaf8f2cdda706a",
                "b6e0975c36a5f8da"
            ]
        ]
    },
    {
        "id": "b6e0975c36a5f8da",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.01",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "aeeaf8f2cdda706a",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "f23565d43754c284",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos13",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[2];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "2b5f38fd0921da84",
                "5a0ae24418c1a205"
            ]
        ]
    },
    {
        "id": "5a0ae24418c1a205",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.02",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2b5f38fd0921da84",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "aa56aaf6aba68eef",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos14",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[3];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 420,
        "wires": [
            [
                "70c92de02dc6b89f",
                "ad04b06c07c716d6"
            ]
        ]
    },
    {
        "id": "ad04b06c07c716d6",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.03",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "70c92de02dc6b89f",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "7b6ff19bdc0e6659",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos15",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[4];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 360,
        "wires": [
            [
                "ac828c13a2965540",
                "b6a7ecb975ee7a06"
            ]
        ]
    },
    {
        "id": "b6a7ecb975ee7a06",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.04",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ac828c13a2965540",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 320,
        "wires": []
    },
    {
        "id": "33b821ae262b96d3",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos21",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[5];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 460,
        "wires": [
            [
                "4781863ecbe1f916",
                "2469ea57c7b61d1d"
            ]
        ]
    },
    {
        "id": "2469ea57c7b61d1d",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.05",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4781863ecbe1f916",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 420,
        "wires": []
    },
    {
        "id": "1db0c3e2c0d8a66b",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.06",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "06dd1de038663806",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos22",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[6];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "66b15a6fe94260fa",
                "1db0c3e2c0d8a66b"
            ]
        ]
    },
    {
        "id": "66b15a6fe94260fa",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 520,
        "wires": []
    },
    {
        "id": "27e3a77055bad839",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos23",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[7];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "1848f7d51d4f92a5",
                "7aa7d12e877362c1"
            ]
        ]
    },
    {
        "id": "7aa7d12e877362c1",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.07",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1340,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1848f7d51d4f92a5",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 620,
        "wires": []
    },
    {
        "id": "494feee8bf76333b",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos24",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[8];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 600,
        "wires": [
            [
                "f04d30172f1d0f71",
                "8be0a811eb9aa118"
            ]
        ]
    },
    {
        "id": "8be0a811eb9aa118",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.08",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1820,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f04d30172f1d0f71",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 560,
        "wires": []
    },
    {
        "id": "6ba23b7bf7486f95",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos25",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[9];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 700,
        "wires": [
            [
                "588d672da529e8db",
                "d9e6385c70e90769"
            ]
        ]
    },
    {
        "id": "d9e6385c70e90769",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.09",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1820,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "588d672da529e8db",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 660,
        "wires": []
    },
    {
        "id": "a025b760c1ad72e3",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos31",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[10];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 800,
        "wires": [
            [
                "9c2479f52a1166b6",
                "f5aefdc85cf1cb14"
            ]
        ]
    },
    {
        "id": "f5aefdc85cf1cb14",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.10",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1820,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9c2479f52a1166b6",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 760,
        "wires": []
    },
    {
        "id": "cbb3b92ec6180c7c",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos32",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[11];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 900,
        "wires": [
            [
                "efba7cc7dc9c4650",
                "80e4cc50c30f8aab"
            ]
        ]
    },
    {
        "id": "80e4cc50c30f8aab",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.11",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 1820,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "efba7cc7dc9c4650",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 860,
        "wires": []
    },
    {
        "id": "8906245a45275bca",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.12",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2300,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "db4d6de14bc092ed",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos33",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[12];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 840,
        "wires": [
            [
                "51c1d8803069a517",
                "8906245a45275bca"
            ]
        ]
    },
    {
        "id": "51c1d8803069a517",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 800,
        "wires": []
    },
    {
        "id": "e7db028995ad9f11",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos34",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[13];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 940,
        "wires": [
            [
                "e875a07e458443b9",
                "9cc83f34fbc3143c"
            ]
        ]
    },
    {
        "id": "9cc83f34fbc3143c",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.13",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2300,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e875a07e458443b9",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 900,
        "wires": []
    },
    {
        "id": "6a310cf07cf3bd57",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos35",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[14];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1040,
        "wires": [
            [
                "e46fa936511adbe2",
                "0fa608ea3f366390"
            ]
        ]
    },
    {
        "id": "0fa608ea3f366390",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.14",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2300,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "e46fa936511adbe2",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2371c2130f08dfd3",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos41",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[15];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1140,
        "wires": [
            [
                "2adf49bb082b7a70",
                "9dee0d005d33b374"
            ]
        ]
    },
    {
        "id": "9dee0d005d33b374",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W140.15",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2300,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "2adf49bb082b7a70",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 1100,
        "wires": []
    },
    {
        "id": "98c737496814a4c9",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos42",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[16];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1080,
        "wires": [
            [
                "b09a3867637d99d2",
                "241cfdee991efef8"
            ]
        ]
    },
    {
        "id": "241cfdee991efef8",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.00",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2780,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "b09a3867637d99d2",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2760,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e1a15747012322a6",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos43",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[17];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1180,
        "wires": [
            [
                "079b2f9c444368f8",
                "096e666f32889457"
            ]
        ]
    },
    {
        "id": "096e666f32889457",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.01",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2780,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "079b2f9c444368f8",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2760,
        "y": 1140,
        "wires": []
    },
    {
        "id": "361562740b5e99a0",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos44",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[18];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1280,
        "wires": [
            [
                "2532a7d0a80b2c78",
                "b93a103178f956d6"
            ]
        ]
    },
    {
        "id": "b93a103178f956d6",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.02",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2780,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "2532a7d0a80b2c78",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2760,
        "y": 1240,
        "wires": []
    },
    {
        "id": "eed3cb65e239ff1a",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos45",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[19];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1380,
        "wires": [
            [
                "ceb6e59d9f4d7dd7",
                "6422de9b99088945"
            ]
        ]
    },
    {
        "id": "6422de9b99088945",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.03",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 2780,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "ceb6e59d9f4d7dd7",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2760,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ba57e5e51b23662d",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos51",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[20];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 1320,
        "wires": [
            [
                "e1be1d841f471893",
                "2fbfaa7fe3b433ce"
            ]
        ]
    },
    {
        "id": "2fbfaa7fe3b433ce",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.04",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 3260,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "e1be1d841f471893",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 1280,
        "wires": []
    },
    {
        "id": "20c848df1bd744aa",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos52",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[21];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 1420,
        "wires": [
            [
                "dfdcb730c50c7e4e",
                "1d7835ad4c520eb3"
            ]
        ]
    },
    {
        "id": "1d7835ad4c520eb3",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.05",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 3260,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "dfdcb730c50c7e4e",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9bde834dcd7e3b0e",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos53",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[22];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 1520,
        "wires": [
            [
                "a5a8712f5b0ddf7a",
                "c8779286fe0acaf5"
            ]
        ]
    },
    {
        "id": "c8779286fe0acaf5",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.06",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 3260,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "a5a8712f5b0ddf7a",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d637f35948aad15e",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos54",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[23];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 1620,
        "wires": [
            [
                "cbe62cd5a6197967",
                "00f9172cfb3acd37"
            ]
        ]
    },
    {
        "id": "00f9172cfb3acd37",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.07",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 3260,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "cbe62cd5a6197967",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3240,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5e6ad47beac4ffac",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "OPC_pos55",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\nmsg.payload = msg.payload.split(',')[24];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3490,
        "y": 1700,
        "wires": [
            [
                "0b4788ff438c601d",
                "8cfcc5fc57a0348d"
            ]
        ]
    },
    {
        "id": "8cfcc5fc57a0348d",
        "type": "FINS Write",
        "z": "01b0505a415fb65e",
        "name": "",
        "connection": "ab3a13bc42e45c07",
        "addressType": "str",
        "address": "W141.08",
        "dataType": "msg",
        "data": "payload",
        "msgPropertyType": "str",
        "msgProperty": "payload",
        "x": 3680,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "0b4788ff438c601d",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3660,
        "y": 1660,
        "wires": []
    },
    {
        "id": "acb9f4baa6a19292",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 520,
        "wires": [
            [
                "f0b567a130949fe7"
            ]
        ]
    },
    {
        "id": "c96ca290cf538f29",
        "type": "debug",
        "z": "01b0505a415fb65e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0b567a130949fe7",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "7b6ff19bdc0e6659",
                "33b821ae262b96d3",
                "06dd1de038663806",
                "27e3a77055bad839",
                "f34fdc6232ea9804"
            ]
        ]
    },
    {
        "id": "f34fdc6232ea9804",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 740,
        "wires": [
            [
                "6c72621eac7e4db2"
            ]
        ]
    },
    {
        "id": "6c72621eac7e4db2",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 740,
        "wires": [
            [
                "494feee8bf76333b",
                "6ba23b7bf7486f95",
                "a025b760c1ad72e3",
                "cbb3b92ec6180c7c",
                "41a9d4f29ca89cd0"
            ]
        ]
    },
    {
        "id": "41a9d4f29ca89cd0",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 980,
        "wires": [
            [
                "d131192a399fd097"
            ]
        ]
    },
    {
        "id": "d131192a399fd097",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1880,
        "y": 980,
        "wires": [
            [
                "db4d6de14bc092ed",
                "e7db028995ad9f11",
                "6a310cf07cf3bd57",
                "2371c2130f08dfd3",
                "fad7ffadfbe0b964"
            ]
        ]
    },
    {
        "id": "fad7ffadfbe0b964",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1220,
        "wires": [
            [
                "9026cadf0e02435e"
            ]
        ]
    },
    {
        "id": "9026cadf0e02435e",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2360,
        "y": 1220,
        "wires": [
            [
                "98c737496814a4c9",
                "e1a15747012322a6",
                "361562740b5e99a0",
                "eed3cb65e239ff1a",
                "90ec2c02294bfa54"
            ]
        ]
    },
    {
        "id": "90ec2c02294bfa54",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 1460,
        "wires": [
            [
                "7aa4b0f43275b3b4"
            ]
        ]
    },
    {
        "id": "7aa4b0f43275b3b4",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2840,
        "y": 1460,
        "wires": [
            [
                "ba57e5e51b23662d",
                "20c848df1bd744aa",
                "9bde834dcd7e3b0e",
                "d637f35948aad15e",
                "cbed82d6edff1254"
            ]
        ]
    },
    {
        "id": "cbed82d6edff1254",
        "type": "function",
        "z": "01b0505a415fb65e",
        "name": "dataTransformOPC_pass",
        "func": "/* model\npos_11, pos_12, pos_13, pos_14, pos_15,\npos_21, pos_22, pos_23, pos_24, pos_25,\npos_31, pos_32, pos_33, pos_34, pos_35,\npos_41, pos_42, pos_43, pos_44, pos_45,\npos_51, pos_52, pos_53, pos_54, pos_55,\n*/\n\n//return msg.payload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3110,
        "y": 1700,
        "wires": [
            [
                "5a546fdac25f8b3b"
            ]
        ]
    },
    {
        "id": "5a546fdac25f8b3b",
        "type": "delay",
        "z": "01b0505a415fb65e",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3320,
        "y": 1700,
        "wires": [
            [
                "5e6ad47beac4ffac"
            ]
        ]
    },
    {
        "id": "843e0cdfbb148b49",
        "type": "mqtt-broker",
        "name": "mosquittoBroker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df4eedea9db0b94b",
        "type": "ui_group",
        "name": "Total Records",
        "tab": "40a16db2d70a6c64",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79664ad5b5643537",
        "type": "ui_group",
        "name": "Usage Percent",
        "tab": "40a16db2d70a6c64",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "067d23398ded566a",
        "type": "ui_group",
        "name": "Current Position",
        "tab": "40a16db2d70a6c64",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bfd1e707ae383d7",
        "type": "MySQLdatabase",
        "name": "storageLocal",
        "host": "localhost",
        "port": "3306",
        "db": "storageInfo",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "ab3a13bc42e45c07",
        "type": "FINS Connection",
        "name": "",
        "host": "10.9.0.221",
        "port": "9600",
        "MODE": "",
        "MODEType": "CJ",
        "protocol": "",
        "protocolType": "udp",
        "ICF": "0x80",
        "DNA": "",
        "DA1": "221",
        "DA2": "",
        "SNA": "",
        "SA1": "179",
        "SA2": "",
        "autoConnect": true
    },
    {
        "id": "40a16db2d70a6c64",
        "type": "ui_tab",
        "name": "Storage Informations",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]